.navBar{
    background-color:black;

    ul{
        display:flex;
        margin:0px;
        padding:0px;

        list-style:none;

        li{
            
            a{
                padding:20px;

                color:white;
                text-decoration:none;
            }
        }

        li:hover{
            background-color:rgb(43, 43, 43);
            cursor:pointer;
        }
    }
}